.chamada{
    background-color: antiquewhite;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
}
body{
    background-color: black;
    margin: 0px;
}



header{
    font-size: 35px;
    color:rgb(185, 32, 32);
    border-bottom: 3px solid pink
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-texto
margin-right: 5%;
